html, body {
  
}

.Control{
	text-align:center;
	font-size:1.5em;
}

.SBCode {
	padding-left: 4%;
	font-family: Droid Sans Mono;
	font-size: 0.8em;
}

.SBSlide{
	font-size:3em;
	padding: 0.5em;
}

.NormalTitle{

}

.SBTitle{

}

.SBParagrah {
	padding-top: 2%;
}
	
.SpecialTitle{
	font-size:3.5em;
}

.SBList{
	list-style-type:circle;
}

.SBItemList{
	font-size: 0.8em;
}

.Control a {
		color: inherit; /* blue colors for links too */
	 	text-decoration: inherit; /* no underline */
}

.Next{
	padding-left: 5%;
}

.Prev{
	padding-right: 5%;
}

.Left{
	text-align: left !important;
}

.Right{
	text-align: right !important;
}

.Center{
	text-align: center !important;
}

.hljs {
	margin:0%;
	padding:0%;
	padding-left:4%;
}

.slide-container {
	display: flex;
	flex-direction: column
}

@media screen and (min-width:1200px) {
    body { font-size:110%; } /* Increase the font size */
}
@media screen and (min-width:1400px) {
    html { padding:0 15%; } /* Reduce the container width */
}
@media screen and (min-width:1600px) {
    body { font-size:125%; } /* Increase the font size */
}
@media screen and (min-width:1800px) {
    html { padding:0 20%; } /* Reduce the container width */
}