body {
    display: flex;
    flex-direction: column;
    padding:0;
    margin: 0;
    height: 100vh
}

.Control{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:1.2em;
    padding: 10 0;
}

.SBCode {
    padding-left: 4%;
    font-family: Droid Sans Mono;
    font-size: 0.8em;
}

.SBSlide{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2em;
    padding: 0 20px;
    flex-grow: 2;
}

.SBTitleNormal{
 
}

.SBTitleNormalSub{
    font-size:1.4em
}

.SBParagrah {
    padding-top: 2%;
}
	
.SBTitleSpecial{
	font-size:3.5em;
}

.SBList{
    list-style-type:circle;
}

.SBItemList{
    font-size: 0.8em;
}

.Control a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.Next{
    padding-left: 5%;
}

.Prev{
    padding-right: 5%;
}

.Left{
    text-align: left !important;
}

.Right{
    text-align: right !important;
}

.Center{
    text-align: center !important;
}

.hljs {
    margin:0%;
    padding:0%;
    padding-left:4%;
}



@media (max-width: 800px) { 
    .SBSlide{
        font-size: 1.2em;
    }
    .SBTitleSpecial{
       font-size:2.2em;
    }
    .SBTitle{ 
       
    }
}
