html, body {
  overflow: hidden;
}

.Control{
	text-align:center;
	font-size:1.5em;
}
a {
		color: inherit; /* blue colors for links too */
	 	text-decoration: inherit; /* no underline */
}

.Next{
	padding-left: 5%;
}

.Prev{
	padding-right: 5%;
}

.Left{
	text-align: left !important;
}

.Right{
	text-align: right !important;
}

.Center{
	text-align: center !important;
}
