body{
	
	background-color: black;
	color: white;
}
	
.hljs {
	background:black;
	color:white;
}

.hljs-number{
	color:cadetblue;
}

.hljs-type{
	color:burlywood;
}

.hljs-string{
	color:cadetblue;
}

.SBCode {

}
	
.SpecialTitle{

}

.NormalTitle{

}

.SBSlide{

}

.SBTitle{

}

.SBParagrah {
}

.SBParagrah {

}
