body{

	background-color: #3c3d47;
	color: #f9d5bb;
}


.hljs {
	background:inherit;
	color:inherit;
}

.hljs-number{
	color:cadetblue;
}

.hljs-type{
	color:burlywood;
}

.hljs-string{
	color:cadetblue;
}

.SBCode {

}

.SBTitleSpecial{

}

.SBTitleNormal{

}

.SBTitleNormalSub{

}

.SBSlide{

}

.SBTitle{

}

.SBParagrah {
}

.SBParagrah {

}
