.Control{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:1.2em;
    padding: 10 0;
    background-color: #23374d;
    color: #ffffff;
    font-weight: bold;
}

.SBSlide{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2em;
    padding: 0 20px;
    background-color: #1089ff;
    color: #fff;
    height: calc(100vh - 43px);
}

img {
    background: rgba(255,255,255, .5);
    border-radius: 5px;
    padding: 10px;
}

pre {
    background-color: #23374d87 !important;
    /* max-width: 85vw; */
    border-radius: 5px;

}

.SBTitleSpecial{
    font-size:3.5em;
    text-shadow: 1px 2px 3px rgba(0,0,0,.3);
}

@media (width < 900px) {
    .SBTitleSpecial{
        font-size: 1em;
    }

    code {
        font-size: .75em
    }    
}


/* Custom highlight colors */
.hljs {
    background:inherit;
    color:inherit;
}

.hljs-number{
    color:#fb52b1;
}

.hljs-type{
    color:gold;
}

.hljs-string{
    color:greenyellow;
}

.hljs-comment{
    color:lightblue;
}
