body{
	
	color: saddlebrown;
	background-color: cornsilk;
}
	

.hljs {
	background:inherit;
	color:inherit;
}

.hljs-number{
	color:cadetblue;
}

.hljs-type{
	color:burlywood;
}

.hljs-string{
	color:cadetblue;
}

.SBCode {

}
	
.SBTitleSpecial{

}

.SBTitleNormal{

}

.SBTitleNormalSub{

}

.SBSlide{

}

.SBTitle{

}

.SBParagrah {
}

.SBParagrah {

}