body{
	
	background-color: rgb(226, 224, 222);
	color: rgb(42, 41, 126);
}
	

.hljs {
	background:inherit;
	color:inherit;
}

.hljs-number{
	color:cadetblue;
}

.hljs-type{
	color:burlywood;
}

.hljs-string{
	color:cadetblue;
}

.SBCode {

}
	
.SBTitleSpecial{

}

.SBTitleNormal{

}

.SBTitleNormalSub{

}

.SBSlide{

}

.SBTitle{

}

.SBParagrah {
}

.SBParagrah {

}